@import "../../../custom-scss/custom-variables";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

.code-block{

    height: fit-content;
    max-width: 65%;
    overflow-x: auto;
}

.code-block pre{

    margin: 0;
}

.copy-button{

    position: absolute;
    top: 5px;
    right: 10px;
    background-color: $color-p3;
}

@include media-breakpoint-down (lg) {

    .code-block{

        max-width: 100%;
        font-size: small;
    }
}