<app-page-title [titleText]="'Angular'"></app-page-title>
<div class="h-100 w-100">
  <app-sub-title-numb
    [content]="'Different usage of [ngClass] binding.'"
    [number]="'1'"
  ></app-sub-title-numb>
  <div class="ms-3">
    <p>
      In Angular, <strong>[ngClass]</strong> is exactly what you’d use to
      conditionally control which classes an element has.
    </p>
    <p class="fw-bold">a. With an object</p>
    <p>
      We can specify the class names as 'Keys' and boolean data as their values
      to decide which class to apply. The class names/keys with 'true' values
      will be applied to the element.
    </p>
    <app-code [codeContent]="sampleData"></app-code>
  </div>
  
</div>

