<app-page-title [titleText]="'Other Details'"></app-page-title>
<div class="continer">
  <app-sub-title-numb
    [content]="'Game Development Helpers.'"
    [number]="'1'"
  ></app-sub-title-numb>
  <div class="ms-4">
    <p>
      These AI resource can help speed up the game DEV, by generation of 2d and
      3d game assets. For starters, this is a short
      <app-hyper-link
        [link]="'https://youtu.be/zEfBPmPDUVc?si=zw2hMSF4Ia-pnRUC'"
        [linkText]="'Youtube'"
      ></app-hyper-link>
      video that covers few of these tools.
    </p>
    <p>
      Some of the popular AI tools for game asset generation are
      <app-hyper-link
        [link]="'https://www.sloyd.ai/'"
        [linkText]="'Sloyd.ai'"
      ></app-hyper-link>
      ,
      <app-hyper-link
        [link]="'https://www.meshy.ai/features/ai-animation-generator/'"
        [linkText]="'Meshy.ai'"
      ></app-hyper-link>
      , etc.
    </p>
    <p>
      And here are few YouTube videos and channel links that covers these tools
      and their usage for free, which can be used for game asset generation.
    </p>
    <ul>
      <li>
        <app-hyper-link
          [link]="'https://youtu.be/zEfBPmPDUVc?si=zw2hMSF4Ia-pnRUC'"
          [linkText]="'AI for Game Dev | Generate 3D Game Assets with AI Tools'"
        ></app-hyper-link>
      </li>
      <li>
        <app-hyper-link
          [link]="'https://www.youtube.com/@AIGameDev'"
          [linkText]="'AI Game Dev - YouTube Channel'"
        ></app-hyper-link>
      </li>
    </ul>
  </div>
  <app-sub-title-numb
    [content]="'Importing prismjs language grammer highlighter.'"
    [number]="'2'"
  ></app-sub-title-numb>
  <div class="ms-4">
    <p>
      For code syntax highlighting, this app uses
      <app-hyper-link
        [link]="'https://prismjs.com/'"
        [linkText]="'Prismjs'"
      ></app-hyper-link>
      library. To import additional language syntaxes, refer to the official
      documentation link below.
      <app-hyper-link
        [link]="'https://prismjs.com/#supported-languages'"
        [linkText]="'Prismjs - Supported Languages'"
      ></app-hyper-link>
    </p>
    <p>
      Also, when you npm install prismjs, you only get core + a few basics
      (markup, CSS, JavaScript, etc.). Languages like TypeScript, Java, Python,
      etc. are separate components under prismjs/components/.
    </p>
    <app-code
      [codeContent]="othersData[0].content"
      [contentType]="othersData[0].contentType"
    ></app-code>
    <p>
      If you want to know the exact name of the module to import, you can
      navigate under <strong>[ node_modules > prismjs > components ]</strong> to
      look for desired language syntax to import.
    </p>
    <p>
      PrismJS language files aren’t all standalone. Some depend on base grammars
      (like markup, clike, or bash). So if you only import prism-git without
      prism-bash, Prism can’t properly register it — resulting in no
      highlighting.
    </p>
  </div>
</div>
